.idea/
build/
dist/
nbproject/
res/
.settings/
build.gradle
pom.xml~
nbactions.xml
*.project~
*.gradle
.project
.classpath
.springBeans
/**/*.iml
/**/.classpath
/**/.project
/**/.settings
*.*~
*.log
*.rar
.gitignore~
/**/perceptron.script
/**/perceptron.lck



